<%# if user_signed_in? %>
<!--  <div class="row">-->
<!--    <aside class="col-md-4">-->
<!--      <section class="user_info">-->
<!--        <h1><%#= current_user.last_name %></h1>-->
<!--        <span>view my profile</span>-->
<!--        <span><%#= pluralize(current_user.posts.count, "micropost") %></span>-->
<!--      </section>-->
<!--      <section class="micropost_form">-->
        <%#= form_for(@post, url: users_posts_path) do |f| %>
<!--          <div class="field">-->
            <%#= f.text_area :content, placeholder: "Compose new micropost..." %>
<!--          </div>-->
          <%#= f.submit "Post", class: "btn btn-primary" %>
        <%# end %>
<!--      </section>-->
<!--    </aside>-->
<!--  </div>-->
<%# end %>

