<div class="media">
  <!--            画像の表示-->
  <!--            <img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Ashley Briggs">-->
  <div class="media-body">
<!--    <span class="float-right">-->
      <%# if current_user == comment.user %>
       <%#= link_to '削除', thread_path(comment.id), method: :delete ,data: { confirm: "本当に削除しますか?" } %>
      <%# end %>
<!--    </span>-->
    <strong><%= Common.full_name(comment.user.first_name, comment.user.last_name) %></strong>
    <small class="text-navy"><%= time_ago_in_words(comment.created_at) %>前</small>
    <div class="p-2 mt-1 post-content">
      <%= simple_format(comment.content) %>
    </div>
  </div>
</div>