
.card-header-set{
    background-color: #354052;
    border-radius: 0 !important;
    min-height: 3.7rem;
}

.card-header-set h5{
    color: #fff;
}


.timeline-body{
    overflow: auto;
}


.tm-outline{
    height: 100vh;
}

.button-rgba{
    background-color: rgba(0,0,0,0)
}

.post-content p{
    font-size: 0.9rem;
}

.form-image{
    display: none;
}

.mb-none{
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .img-resize{
        text-align: center;
    }
    .img-resize img{
        width: 100%;
    }
}


