<div class="pb-5 post-field">
    <div class="col-md-10 col-sm-12 d-inline-block" >
      <textarea class="form-control" rows="2" placeholder="返信内容" id="comment-content"></textarea>
    </div>

    <div class="col-md-2 float-md-right pt-md-4 text-right text-md-left" >
      <button type="submit" class="btn-lg btn-primary " id="submit"> 送信 </button>
    </div>

</div>