<footer class="footer">
  <div class="container-fluid">
    <div class="text-muted">
      <div class="text-center mb-1">
        <ul class="list-inline list-color-mut">
          <li class="list-inline-item">
            <a class="text-muted" href="#">運営元</a>
          </li>
          <li class="list-inline-item">
            <%= link_to "利用規約", "#", :target=>["_blank"] %>
          </li>
          <li class="list-inline-item">
          <%= link_to "プライバシーポリシー", "#" , :target=>["_blank"] %>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <p class="mb-0">
          © 2019 - <a href="#" class="text-muted">Notogawa SKY</a>
        </p>
      </div>
    </div>
  </div>
</footer>