<footer>
  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="" target="_blank">運営元</a></li><span>|</span>
      <li><%= link_to "利用規約", "#", :target=>["_blank"] %></li><span>|</span>
      <li><%= link_to "プライバシーポリシー","#", :target=>["_blank"] %></li>
    </ul>
    <p class="text-center">Copyright @2019 | Designed With by <a href="#">Notogawa SKY</a></p>

  </div>
</footer>